@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);




body {
  background: #f5f5f5;
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px; }
b {
  font-weight: 600 !important; }
.bootstrap-table .table > thead > tr > th {
  border-bottom: 2px solid #f2f2f2;
  background: #324C5F; }

.bootstrap-table .table, .bootstrap-table .table > tbody > tr > td, 
.bootstrap-table .table > tbody > tr > th, 
.bootstrap-table .table > tfoot > tr > td, 
.bootstrap-table .table > tfoot > tr > th, 
.bootstrap-table .table > thead > tr > td {
  padding: 5px 5px !important;
   }
  input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, 
  .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 0px;
    margin-bottom: -5px;
    border: 1.5px solid #b0b9c7;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
  }
  
  .fixed-table-body {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
}
.label{
	cursor: pointer;
}

.fixed-table-container {
    border: none !important;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #868e96 !important;
}

.fixed-table-container thead th .th-inner {
    padding: 5px 5px;
}

.fixed-table-container thead th .th-inner {
   
    line-height: 18px;
    font-weight:bold;
}
.add{
  margin: 10px 0px;
}
.client-image{
  width: 40px;
  height: 40px;
}