.bootstrap-table .table > thead > tr > th {
    border-bottom: 2px solid #36404a !important;
    background: #36404a !important;
   /* padding: 5px 10px !important;*/
 }
 .bootstrap-table >.fixed-table-container {
    border: 1px solid #ffffff !important;
}
.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #f2f2f2 !important;
}
/*.table-responsive > .bootstrap-table .table > tbody > tr > td{
	padding: 5px 10px !important;
}*/
.table-bordered > thead > tr > th{
    border: 1px solid #797979 !important;
}
.panel-heading p{
	line-height: 0px;
	padding: 0px;
}
form label{
	text-align: right;
}
.color-dark{
	background: #36404a;
	color: #fff;
}
.panel-heading{
	padding: 7px 15px!important;
}
.action_icons{
	margin: 0 auto;
    display: block;
    text-align: center;
}
.f-w-normal{
	font-weight: normal;
}
.form-horizontal .control-label{
text-align: left;
}
.form-check-inline{
	display: inline-block!important;
}
.radio{
	margin-top: 0px!important;
	margin-left: 10px;
}
.form-check-inline+.form-check-inline {
    margin-left: 3.75rem!important;
}
.panel-body{
	border: 1px solid #f2f2f2;
	    padding: 10px;
}
@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 0px!important;
}
}
