
/*.table-responsive > .bootstrap-table .table > tbody > tr > td{
	padding: 5px 10px !important}*/
.table-striped > tbody > tr:nth-of-type(odd){
	background-color: #f9f9f9!important;
}

table.dataTable thead th {

    border-bottom: 2px solid #f4f4f4 !important;

}
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
 table.table-bordered.dataTable td {
    border-left-width: 0;
}
 table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
}
table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 0;
}
.panel-heading p{
	line-height: 0px;
	padding: 0px;
}
form label{
	text-align: right;
}
.color-dark{
	background: #36404a;
	color: #fff;
}
.panel-heading{
	padding: 7px 15px!important;
}
.action_icons{
	margin: 0 auto;
    display: block;
    text-align: center;
}
.f-w-normal{
	font-weight: normal;
}
.form-horizontal .control-label{
text-align: left;
}
.form-check-inline{
	display: inline-block;
}
.radio{
	margin-top: 0px!important;
	margin-left: 10px;
}
.form-check-inline+.form-check-inline {
    margin-left: 3.75rem!important;
}
.panel-body{
	border: 1px solid #f2f2f2;
	    padding: 10px;
}
.form-control{
	padding: 5px 12px!important;
}
.action_btn_padding{
    padding: 1px 4px!important;
}
@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 2px!important;
}
}
