
/*.table-responsive > .bootstrap-table .table > tbody > tr > td{
	padding: 5px 10px !important}*/
.table-striped > tbody > tr:nth-of-type(odd){
	background: #fff!important;
} 
table.dataTable thead th {

    border-bottom: 2px solid #36404a  !important;

}
table.dataTable tbody tr:hover{
    background-color: #f4f8fb !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #e3e3e3!important;
}
.table-bordered > tbody > tr > td{
        padding: 8px 12px;
}
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
 table.table-bordered.dataTable td {
    border-left-width: 0;
}
 table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
}
table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 0;
}
table.dataTable thead tr{
    background: #36404a ;
    color: #fff;
}
.odd{
    background: #fff!important;
}
.panel-heading p{
	line-height: 0px;
	padding: 0px;
}
form label{
	text-align: right;
}
.color-dark{
	background: #36404a;
	color: #fff;
}
.panel-heading{
	padding: 7px 15px!important;
}
.action_icons{
	margin: 0 auto;
    display: block;
    text-align: center;
}
.f-w-normal{
	font-weight: normal;
}
.form-horizontal .control-label{
text-align: right;
}
.form-check-inline{
	display: inline-block;
}
.radio{
	margin-top: 0px!important;
	margin-left: 10px;
}
.form-check-inline+.form-check-inline {
    margin-left: 3.75rem!important;
}
.panel-body{
	border: 1px solid #f2f2f2;
	    padding: 10px;
}
.form-control{
	padding: 5px 12px!important;
}
.action_btn_padding{
    padding: 1px 4px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0.5em 0em!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: none!important;
    border: none!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
    border:none!important;
    background: none!important;
    box-shadow: none!important;
}
.controllers_role{
    
        padding: 0px 30px;
}
.member-info p{ white-space: inherit !important;}
.contact-card img{
    width: 48px !important;
    height: 48px !important;
}
.contact-card .member-info{
    padding-left: 0px !important;
}
.m-t-2{
    margin-top: 2px;
}
.f-16{
    font-size: 16px;
}
@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 2px!important;
}
}
@media (max-width: 320px){
   form label {
    text-align: left;
} 
.form-horizontal .control-label{
    text-align: left;
}
}